<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/signin.css">
</head>

<body class="center">
    <h1>
        <%= title %>
    </h1>
    <div class="row">
        <div class="col-md-12">
            <label>用户名:</label>
            <input type="text" name="name" />
        </div>
        <div class="col-md-12">
            <label>密码:</label>
            <input type="text" name="password" />
        </div>
        <button onclick="submit()">登录</button>
    </div>
    <script>
        function submit() {
            let name = $('input[name=name]').val().trim(),
                password = $('input[name=password]').val().trim();
            if (name === '' || password === '') {
                alert('error');
            } else {
                $.ajax({
                    type: "POST",
                    url: "/signin/handle_login",
                    data: {
                        name: name,
                        password: password
                    },
                    dataType: "json",
                    success: function (data) {
                       console.log('data',data);
                       if(data.code == 200){
                            window.location.href = "/"
                       }
                    },
                    error:function(error){
                        console.log('error',error);
                    }
                });
            }
        }
    </script>
</body>

</html>